$primary-color: #1E213F;
$secondary-color: #F87070;
$dark-purple-color: #161932;
$text-color: #D7E0FF;
$button-border-radius: 31.5px;

$font-kumbh-sans: 'Kumbh Sans', sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;